{% extends 'user/layout.html'%}
{% block content %}

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link ms-0" href="{{url_for('user_profile')}}">Profile</a>
        <a class="nav-link" href="{{url_for('show_user_orders')}}">Orders</a>
        <a class="nav-link" href="{{url_for('show_user_payments')}}">Payment</a>
    </nav>
    
    <hr class="mt-0 mb-4">
   
    <!-- Billing history card-->
    <div class="card mb-4">
        <div class="card-header">Payment History</div>
        <div class="card-body p-0">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200" scope="col">S/N</th>
                            <th class="border-gray-200" scope="col">Transaction ID</th>
                            <th class="border-gray-200" scope="col">Date</th>
                            <th class="border-gray-200" scope="col">Amount</th>
                            <th class="border-gray-200" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if pay: %}
                        {% for i in pay %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{i.pay_ref}}</td>
                            <td>{{i.pay_date}}</td>
                            <td>#{{i.pay_amt}}</td>
                            <td>{{i.pay_status}}</td>
                        </tr>
                        {% endfor %}
                        {%else%}
                        <p>No Payment Made Yet</p>
                        {% endif %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}