{% extends 'user/layout.html' %}
{% block content %}
				{% set m=get_flashed_messages() %}
			{% if m%}
			{% for i in m%}
			<div class="alert alert-info">{{i}}</div>
			{%endfor%}
			{%endif%}
				<div class="row pb-3">
					{% for i in spare%}
					<div class="col-3 shadow-lg">
						<div class="pl-1">
							<a href="/spareparts/details/{{i.spareparts_id}}">
							<img src="/static/assets/img/{{i.spareparts_image}}" width="250px" height="200px">
							</a>
							<p>{{i.spareparts_name}}</p>
							<p>{{i.spareparts_amount}}</p>
						</div>
						<div>
							<form action="{{url_for('addcart')}}" method="post">
								<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
								<input type="hidden" name="spareparts_id" value="{{i.spareparts_id}}">
								<button type="submit" class="btn btn-sm btn-warning">Add Cart</button>
								<input type="hidden" name="quantity" value="1" min="1" max="100">
							</form>
						</div>
					
					</div>
					{%endfor%}
                    {% if post %}
			{% for i,k in zip(post,c) %}
			<div class="row mb-2" style="border: 1px solid #61825c;border-radius: 15px;">
				<a href="/open/post/{{i.posts_id}}" style="color: black;text-decoration: none;"><div class="row">
					<div class="col-md-5">
						<p>{{i.posts_title}}</p>
					</div>
					<div class="col-md-2 align-items-center">
						<p>{{i.postmanu.manufacturer_name}}</p>
					</div>
					<div class="col-md-3 align-items-center">
						<p>Posted by {{i.postuser.user_fullname}}</p>
					</div>
					<div class="col-md-2 align-items-center">
						<p class="align-items-center">No of Replies {{k}}</p>
					</div>
				</div>
			</a>
			</div>
			{%endfor%}
			{%else%}
			<div class="row">
				<div class="col">
					<p>No Post Yet</p>
				</div>
			</div>
			{% endif %}
				</div>
				
{% endblock %}