{%extends 'admin/layout.html'%}
{%block content%}
{% set m=get_flashed_messages() %}
{% if m%}
{% for i in m%}
<div class="alert alert-info">{{i}}</div>
{%endfor%}
{%endif%}
<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S/N</th>
        <th scope="col">Fullname</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for m in user %}  
      <tr>
        <td>{{loop.index}}</td>
        <td>{{m.user_fullname }}</td>
        <td><a href="/admin/user/delete/{{m.user_id}}" class="btn btn-danger">Delete</a></td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}